/* general Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    background: url(/images/image6.jpg) no-repeat center center/ cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 300px;
    height: 200px;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #fff;
    box-shadow: 0 0 10px;

}

#timer {
    margin: 10px auto;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}

.buttons {
    text-align: center;
    margin-top: 10px;
    justify-content: space-between;
}

button i:hover {
    cursor: pointer;
}

button {
    margin: 0 10px;
    border: none;
}

button i {
    font-size: 2rem;
    background: transparent;
    padding: 10px;
    color: #fff;
    width: 50px;
}

#play {
    background-color: green;
}

#pause {
    background-color: orange;
}

#reset {
    background-color: red;
}